/*
index.css
Yayoi

Created by Cure Gecko on 5/10/15.
Copyright 2015, Cure Gecko. All rights reserved.

Main style.
*/
body {
	padding-top: 70px;
	background-color: #e8e8e8;
}

/* Nav bar colors */
.navbar-default {
	background-color: #febe3d;
	border-color: #e7bc6f;
	box-shadow: 2px 1px 10px #ac5f00;
}
.navbar-default .input-group-btn {
    width: 1% !important;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #000;
}
.navbar-default .navbar-brand {
    color: #000;
}
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #000;
}
.navbar-default .navbar-nav > li > a {
    color: #000;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: #000;
    background-color: #ffa600;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #000;
    background-color: #ffa600;
}

#tagAutoComplete {
    position: absolute;
    z-index: 1031;
    background-color: #ffffff;
    border: 1px;
    border-color: #a9a9a9;
    box-shadow: 0px 6px 10px #ccc;
}

#tagAutoComplete ul {
    margin-top: 5px;
    margin-bottom: 5px;
    list-style: outside none none;
    padding-left: 0;
}

#tagAutoComplete li {
    margin-bottom: 5px;
    padding-left: 15px;
}

#tagAutoComplete li.active {
    background-color: #dcdcdc;
}

/* Custom controlls for post editing. */
.tagsInputContainer {
    height: auto;
}
.tagLine {
    width: 100%;
    height: 20px;
}
.tagInput {
    width: 100%;
    border: 0;
}
.tagInput.badTag {
    background-color: #ff9ea8;
}